<div th:fragment="apartment-card">
  <div class="card" th:each="apt: ${results}"
       th:with="card_id=|apt-card-${apt.building_id}-${apt.number}|"
       th:attr="id=${card_id}">
    <span th:text="|Edif: ${apt.building_id}|"></span>
    <span th:text="|Nro. ${apt.number}|"></span>
    <span th:text="${apt.name}"></span>
    <span th:text="|Aliquota: ${apt.aliquot}|"></span>
    <span th:text="|Creado en: ${apt.created_at}|"></span>
    <span th:if="${apt.updated_at} != null" th:text="|Actualizado en: ${apt.updated_at}|"></span>
    <button th:if="${apt.delete_item_url} != null" th:attr="hx-delete=${apt.delete_item_url},hx-target=${'#' + card_id}"
            hx-trigger="click"
            hx-swap="delete"
    >
      DELETE
    </button>
  </div>
  <div th:replace="fragments/next-page-fragment :: next-page-fragment"></div>
</div>