<tr class="table-row" th:each="apt: ${results}"
    th:with="card_id=|apt-card-${apt.building_id}-${apt.number}|"
    th:attr="id=${card_id}"

>
  <td th:text="${apt.building_id}"></td>
  <td th:text="${apt.number}"></td>
  <td th:text="${apt.name}"></td>
  <td>
    <div class="apt-emails">
      <span th:each="email: ${apt.emails}" th:text="${email}"></span>
    </div>
  </td>
  <td th:text="${apt.aliquot}"></td>
  <td>
    <button class="delete-btn" th:if="${apt.delete_item_url} != null"
            th:attr="hx-delete=${apt.delete_item_url},hx-target=${'#' + card_id}"
            hx-trigger="click"
            hx-swap="delete"
    >
      <img src="/assets/trash.svg" alt="delete-row">
    </button>
  </td>
</tr>

<tr th:if="${next_page_url} != null" th:attr="hx-get=${next_page_url}"
    hx-trigger="revealed"
    hx-swap="outerHTML">
</tr>

<div id="apartment-counters" hx-swap-oob="true">
  <span id="apartment-total-count"  th:with="value=|Apartamentos: ${total_count}|"
        th:text="${total_count} != null ? ${value}  : ''"></span>

  <span id="apartment-query-count" th:with="value=|Items: ${query_count}|"
        th:text="${query_count} != null ? ${value}  : ''"></span>
</div>